<%
    var photo = obj.photo || 'default.png';
%>

<div class="sl-photo">
    <img src="/upload/<%- photo %>" class="img-polaroid">
</div>
<div class="sl-value"></div>
<div class="sl-editor" style="padding-left: 11px;">
    <span class="btn btn-info fileinput-button">
        <i class="icon-camera icon-white"></i>
        <span>写真を選択</span>
        <input id="fileupload" type="file" name="photo" data-url="/resume/<%- obj._id %>">
    </span>
    <span class="btn btn-danger btn-hide">
        <i class="icon-eye-close icon-white"></i>
    </span>
</div>