<div class="sl-value text-center">
<% 
    var firstNameEn = obj.firstNameEn || "";
    var lastNameEn = obj.lastNameEn || "";
    var firstNameKana = obj.firstNameKana || "";
    var lastNameKana = obj.lastNameKana || "";
    var firstName = obj.firstName || "";
    var lastName = obj.lastName || "";
    if (!obj.firstNameEn 
            && !obj.lastNameEn 
            && !obj.firstNameKana 
            && !obj.lastNameKana 
            && !obj.firstName 
            && !obj.lastName) {
        print('<h4 class="sl-placeholder">氏名を入力</h4>');
    } else {
        if (obj.firstNameEn || obj.lastNameEn) {
            print('<h5>' + firstNameEn + '&nbsp;&nbsp;&nbsp;&nbsp;' + lastNameEn + '</h5>');
        } 
        if (obj.firstNameKana || obj.lastNameKana) {
            print('<h5>' + firstNameKana + '&nbsp;&nbsp;&nbsp;&nbsp;' + lastNameKana + '</h5>');
        } 
        if (obj.firstName || obj.lastName) {
            print('<h4>' + firstName + '&nbsp;&nbsp;&nbsp;&nbsp;' + lastName + '</h4>');
        }
    } 
%>
</div>
<div class="sl-editor">
    <div class="row-fluid">
        <div class="span6">
            <input type="text" class="input-small" placeholder="姓（英字）" name="firstNameEn" value="<%- obj.firstNameEn %>">
        </div>
        <div class="span6">
            <input type="text" class="input-small" placeholder="名（英字）" name="lastNameEn" value="<%- obj.lastNameEn %>">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <input type="text" class="input-small" placeholder="フリガナ" name="firstNameKana" value="<%- obj.firstNameKana %>">
        </div>
        <div class="span6">
            <input type="text" class="input-small" placeholder="フリガナ" name="lastNameKana" value="<%- obj.lastNameKana %>">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <input type="text" class="input-small" placeholder="姓（漢字）" name="firstName" value="<%- obj.firstName %>">
        </div>
        <div class="span6">
            <input type="text" class="input-small" placeholder="名（漢字）"name="lastName" value="<%- obj.lastName %>">
        </div>
    </div>
</div>