<div class="sl-value text-center">
<% 
    var firstName = obj.firstName || "";
    var lastName = obj.lastName || "";
    if (!obj.firstName && !obj.lastName) {
        print('<h4 class="sl-placeholder">Your Name</h4>');
    } else {
        print('<h4>' + firstName + '&nbsp;&nbsp;&nbsp;&nbsp;' + lastName + '</h4>');
    } 
%>
</div>
<div class="sl-editor">
    <div class="row-fluid">
        <div class="span6">
            <input type="text" class="input-small" placeholder="First Name" name="firstName" value="<%- obj.firstName %>">
        </div>
        <div class="span6">
            <input type="text" class="input-small" placeholder="Last Name"name="lastName" value="<%- obj.lastName %>">
        </div>
    </div>
</div>