<div class="row-fluid">

    <div class="span4">
        <div id="photo"></div>
        <div id="name"></div>
    </div>
    <div class="span1">       
    </div>
    <div class="span7" id="basic-info">
        <div id="birthDay"></div>
        <div id="gender"></div>
        <div id="nationality"></div>
        <div id="married"></div>
        <div id="firstArrive"></div>
        <div id="itExperience"></div>
        <div id="availableDate"></div>
        <div id="address"></div>
        <div id="nearestStation"></div>
        <div id="telNo"></div>
        <div id="email"></div>
        <div id="homePage"></div>
    </div>

</div>

<div id="selfIntroduction"></div>

<div id="skill"></div>

<div id="languageBackground"></div>

<div id="education"></div>

<div id="qualification"></div>

<div id="career"></div>

<div id="workExperience"></div>

<div id="shareLink"></div>

<!-- Instruction Modal -->
<div id="instructionModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Welcome to CV Bakery</h3>
  </div>
  <div class="modal-body">
    <p>CV Bakeryをご利用いただき、誠にありがとうございます！</p>
    <p>初めてですか？30秒ぐらい掛かって、CV Bakeryの使い方を説明させていただきます！</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" id="instructionStartBtn">はい</button>
    <button class="btn btn-warning" id="instructionCancelBtn" data-dismiss="modal" aria-hidden="true">いいえ</button>
  </div>
</div>