<div class="row-fluid">

    <div class="span4">
        <div class="row-fluid bootstro"
            id="photo" 
            data-bootstro-title="顔写真を添付しよう！" 
            data-bootstro-content="履歴書に写真をつけるのはイメージアップには効果的。"
            data-bootstro-placement="bottom"></div>
        <div class="row-fluid" id="name"></div>
    </div>

    <div class="span8 bootstro"
            data-bootstro-title="基本情報を編集" 
            data-bootstro-content="各項目をクリックしたら、ご自分に関する基本情報を編集できます。"
            data-bootstro-placement="right">
        <div class="row-fluid" id="birthDay"></div>
        <div class="row-fluid" id="gender"></div>
        <div class="row-fluid" id="nationality"></div>
        <div class="row-fluid" id="married"></div>
        <div class="row-fluid" id="firstArrive"></div>
        <div class="row-fluid" id="itExperience"></div>
        <div class="row-fluid" id="availableDate"></div>
        <div class="row-fluid" id="address"></div>
        <div class="row-fluid" id="nearestStation"></div>
        <div class="row-fluid" id="telNo"></div>
        <div class="row-fluid" id="email"></div>
        <div class="row-fluid" id="homePage"></div>
    </div>

</div>

<div id="selfIntroduction"></div>

<div id="skill"></div>

<div id="education"></div>

<div id="career"></div>

<div id="workExperience"></div>

<div id="language"></div>

<div id="qualification"></div>

<div id="contextMenu"></div>