<div class="span1 offset1">
    <i class="icon-heart"></i>
</div>
<div class="span10">
    <div class="sl-value">
        <% 
            if (obj.married)
                print(obj.married);
            else
                print('<i class="sl-placeholder">ここをクリックして婚姻状況を入力します</i>')
        %>
    </div>
    <div class="sl-editor row-fluid">
        <div class="span10" data-toggle="buttons-radio">
            <button class="btn btn-small btn-info btn-value"><i class="icon-heart"></i>　既婚</button>
            <button class="btn btn-small btn-info btn-value"><i class="icon-heart-empty"></i>　未婚</button>
        </div>
        <div class="span2">
            <button class="btn btn-small btn-warning btn-remove">
                <i class="icon-remove icon-white"></i>
            </button>
        </div>
    </div>
</div>