!!! 5
html(lang="ja")
	head
		title CV Bakery
		meta(charset="utf-8")
		link(type="text/css", rel="stylesheet", href="/stylesheets/bootstrap.css")
		link(type="text/css", rel="stylesheet", href="/stylesheets/bootstrap-responsive.css")
		link(type="text/css", rel="stylesheet", href="/stylesheets/bootstrap-markdown.css")
		link(type="text/css", rel="stylesheet", href="/stylesheets/font-awesome.min.css")
		link(type="text/css", rel="stylesheet", href="/stylesheets/jquery-ui-1.10.3.custom.min.css")
		link(type="text/css", rel="stylesheet", href="/stylesheets/datepicker.css")
		link(type="text/css", rel="stylesheet", href="/stylesheets/bootstrap-tour.css")
		link(type="text/css", rel="stylesheet", href="/stylesheets/jquery.fileupload-ui.css")
		link(type="text/css", rel="stylesheet", href="/stylesheets/style.css")
		script(type="text/javascript", data-main="javascripts/boot-cvbakery", src="/javascripts/lib/require.js")
	body
		div(style="text-align: center")
			div(style="display: inline-block; margin-top: 200px;")
				i.icon-spinner.icon-spin(style="font-size: 15em; color: #bbb")
			br
			div(style="display: inline-block; margin-top: 50px;")
				p
					strong
						em(style="font-size: 3em; color: #bbb") Loading the awesomeness...
			#accountInfo(data-email="#{email}", data-type="#{type}", data-resume="#{resume}")