!!! 5
html(lang="ja")
	head
		title SELink
		meta(charset="utf-8")
		link(type="text/css", rel="stylesheet", href="/stylesheets/bootstrap.css")
		link(type="text/css", rel="stylesheet", href="/stylesheets/bootstrap-responsive.css")
		link(type="text/css", rel="stylesheet", href="/stylesheets/datepicker.css")
		link(type="text/css", rel="stylesheet", href="/stylesheets/jquery.fileupload-ui.css")
		link(type="text/css", rel="stylesheet", href="/stylesheets/style.css")
		script(data-main="javascripts/boot", type="text/javascript", src="/javascripts/lib/require.js")
	body