<li>
    <div>テンプレート：</div>
    <button class="btn btn-info tp-sample" data-template="default">0</button>
    <button class="btn btn-info tp-sample" data-template="style1">1</button>
    <button class="btn btn-info tp-sample" data-template="style2">2</button>
    <button class="btn btn-info tp-sample" data-template="style3">3</button>
</li>
<li class="divider"></li>
<li>
    <div>履歴書に追加します：</div>
    <div id="itemBtnArea"></div>
</li>
<li class="divider"></li>
<li>
    <div>背景パターン：</div>
    <div class="bk-sample img-polaroid" data-image="bgnoise_lg.png"></div>
    <div class="bk-sample img-polaroid" data-image="escheresque.png"></div>
    <div class="bk-sample img-polaroid" data-image="farmer.png"></div>
    <div class="bk-sample img-polaroid" data-image="grey_sandbag.png"></div>
    <div class="bk-sample img-polaroid" data-image="grid.png"></div>
    <div class="bk-sample img-polaroid" data-image="irongrip.png"></div>
    <div class="bk-sample img-polaroid" data-image="kindajean.png"></div>
    <div class="bk-sample img-polaroid" data-image="light_alu.png"></div>
    <div class="bk-sample img-polaroid" data-image="little_pluses.png"></div>
    <div class="bk-sample img-polaroid" data-image="noisy_grid.png"></div>
    <div class="bk-sample img-polaroid" data-image="purty_wood.png"></div>
    <div class="bk-sample img-polaroid" data-image="retro_intro.png"></div>
</li>
<li class="divider" style="clear:both;"></li>
<li>
    <div>出力：</div>
    <button class="btn btn-warning" id="pdfBtn"><i class="icon-file icon-white"></i></button>
    <button class="btn btn-warning" id="printBtn"><i class="icon-print icon-white"></i></button>
</li>