<div class="span4">
    <i class="icon-heart"></i>　婚姻状況：
</div>
<div class="span8">
    <div class="sl-value">
        <%= obj.married %>
    </div>
    <div class="sl-editor">
        <label class="radio inline">
            <input type="radio" name="married" value="既婚" <% if(obj.married == "既婚") print("checked") %>>
            既婚
        </label>
        <label class="radio inline">
            <input type="radio" name="married" value="未婚" <% if(obj.married == "未婚") print("checked") %>>
            未婚
        </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-mini btn-danger btn-delete"><i class="icon-minus icon-white"></i></button>
    </div>
</div>