<div class="row-fluid sl-value">
    <div class="span3 qualifiedDateArea"><%- formatDate(obj.qualifiedDate) %></div>
    <div class="span4 qualificationNameArea"><%- obj.qualificationName %></div>
    <div class="span5 remarkArea"><%- obj.remark %></div>
</div>
<div class="row-fluid sl-editor">
    <div class="span11">
        <div class="input-prepend sl-input">
            <span class="add-on">取得日</span>
            <input type="text" class="input-medium" name="qualifiedDate" value="<%- simpleFormatDate(obj.qualifiedDate) %>">
        </div>
        <div class="input-prepend sl-input">
            <span class="add-on">資格名</span>
            <input type="text" class="input-medium" name="qualificationName" value="<%- obj.qualificationName %>">
        </div>
        <div class="input-prepend sl-input">
            <span class="add-on">備　考</span>
            <input type="text" class="input-medium" name="remark" value="<%- obj.remark %>">
        </div>
    </div>
    <div class="span1">
        <button class="btn btn-mini btn-warning btn-delete"><i class="icon-minus icon-white"></i></button>
    </div>
</div>