<hr>
<div class="span3">
    <h4>自己紹介</h4>
    <div class="sl-editor">
        <button class="btn btn-mini btn-danger btn-remove"><i class="icon-share-alt icon-white"></i></button>
    </div>
</div>
<div class="span9">
    <div class="sl-value">
        <p><% print(_.escape(obj.selfIntroduction)); %></p>
    </div>
    <div class="sl-editor">
        <div class="sl-input" style="width: 100%">
            <textarea style="width: 95%" rows="10" name="selfIntroduction"><%- obj.selfIntroduction %></textarea>
        </div>
    </div>
</div>