<div class="row-fluid sl-value">
    <div class="span3 graduateArea"><%- formatDate(obj.graduate) %></div>
    <div class="span4 schoolArea"><%- obj.school %></div>
    <div class="span5 majorArea"><%- obj.major %></div>
</div>
<div class="row-fluid sl-editor">
    <div class="span11">
        <div class="input-prepend sl-input">
            <span class="add-on">卒業日</span>
            <input type="text" class="input-small" name="graduate" value="<%- simpleFormatDate(obj.graduate) %>">
        </div><br>
        <div class="input-prepend sl-input">
            <span class="add-on">卒業学校</span>
            <input type="text" class="input-medium" name="school" value="<%- obj.school %>">
        </div><br>
        <div class="input-prepend sl-input">
            <span class="add-on">学部、学科、専攻</span>
            <input type="text" class="input-medium" name="major" value="<%- obj.major %>">
        </div>
    </div>
    <div class="span1">
        <button class="btn btn-mini btn-warning btn-delete"><i class="icon-minus icon-white"></i></button>
    </div>
</div>