<div class="span4">
    <i class="icon-heart"></i>　婚姻状況：
</div>
<div class="span8">
    <div class="sl-value">
        <%- obj.married %>
    </div>
    <div class="sl-editor row-fluid">
        <div class="span10" data-toggle="buttons-radio">
            <button class="btn btn-small btn-info btn-value"><i class="icon-heart"></i>　既婚</button>
            <button class="btn btn-small btn-info btn-value"><i class="icon-heart-empty"></i>　未婚</button>
        </div>
        <div class="span2">
            <button class="btn btn-small btn-warning btn-remove">
                <i class="icon-remove icon-white"></i>
            </button>
        </div>
    </div>
</div>