<div class="sl-value">
    <dl class="dl-horizontal">
        <dt><%- formatDate(obj.graduate) %></dt>
        <dd><%- obj.school %><%- obj.major %></dd>
    </dl>
</div>
<div class="sl-editor">
    <div class="input-prepend">
        <span class="add-on">卒業日</span>
        <input type="text" class="input-small" name="graduate" value="<%- simpleFormatDate(obj.graduate) %>">
    </div>
    <div class="input-prepend">
        <span class="add-on">学校</span>
        <input type="text" class="input-medium" name="school" value="<%- obj.school %>">
    </div>
    <div class="input-prepend">
        <span class="add-on">学部</span>
        <input type="text" class="input-medium" name="major" value="<%- obj.major %>">
    </div>
    <button class="btn btn-mini btn-warning btn-delete"><i class="icon-minus icon-white"></i></button>
</div>