<div class="span4">
    <i class="icon-leaf"></i>　性別：
</div>
<div class="span8">
    <div class="sl-value">
        <%= obj.gender %>
    </div>
    <div class="sl-editor">
        <label class="radio inline">
            <input type="radio" name="gender" value="男" <% if(obj.gender == "男") print("checked") %>>
            男
        </label>
        <label class="radio inline">
            <input type="radio" name="gender" value="女" <% if(obj.gender == "女") print("checked") %>>
            女
        </label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-mini btn-danger btn-delete"><i class="icon-share-alt icon-white"></i></button>
    </div>
</div>