<div class="span4">
    <i class="icon-ok"></i>　稼働可能日：
</div>
<div class="span8">
    <div class="sl-value">
        <%- formatDate(obj.availableDate) %>
    </div>
    <div class="sl-editor">
        <div class="sl-input">
            <input type="text" class="input-small" name="availableDate" value="<%- simpleFormatDate(obj.availableDate) %>">
        </div>
        <button class="btn btn-mini btn-danger btn-remove">
            <i class="icon-share-alt icon-white"></i>
        </button>
    </div>
</div>