<div class="span4">
    <i class="icon-plane"></i>　初回来日：
</div>
<div class="span8">
    <div class="sl-value">
        <%- formatDate(obj.firstArrive) %>
    </div>
    <div class="sl-editor">
        <div class="sl-input">
            <input type="text" class="input-small" name="firstArrive" value="<%- simpleFormatDate(obj.firstArrive) %>">
        </div>
        <button class="btn btn-mini btn-danger btn-remove">
            <i class="icon-share-alt icon-white"></i>
        </button>
    </div>
</div>