<div class="span4">
    <i class="icon-home"></i>　住所：
</div>
<div class="span8">
    <div class="sl-value">
        <% print(obj.address　+ "（〒" + obj.zipCode + "）") %>
    </div>
    <div class="sl-editor">
        <div class="input-prepend" id="zipCodeSubArea">
            <span class="add-on">〒</span>
            <input type="text" class="input-small" name="zipCode" value="<%= obj.zipCode %>">
        </div>
            <button class="btn btn-mini btn-danger btn-delete"><i class="icon-share-alt icon-white"></i></button>
        <br/>
        <div id="addressSubArea">
            <input type="text" class="input-large" name="address" value="<%= obj.address %>">
        </div>
    </div>
</div>