<div class="row-fluid sl-value">
    <p><%- obj.language %> ：<%- obj.background %></p>
</div>
<div class="row-fluid sl-editor">
    <div class="span11">
        <div class="input-prepend sl-input">
            <span class="add-on">開始日</span>
            <input type="text" class="input-medium" name="school" value="<%- obj.school %>">
        </div><br>
        <div class="input-prepend sl-input">
            <span class="add-on">終了日</span>
            <input type="text" class="input-medium" name="school" value="<%- obj.school %>">
        </div><br>
        <div class="input-prepend sl-input">
            <span class="add-on">会社名</span>
            <input type="text" class="input-medium" name="school" value="<%- obj.school %>">
        </div><br>
        <div class="input-prepend sl-input">
            <span class="add-on">所在地</span>
            <input type="text" class="input-medium" name="school" value="<%- obj.school %>">
        </div><br>
        <div class="input-prepend sl-input">
            <span class="add-on">職　務</span>
            <input type="text" class="input-medium" name="school" value="<%- obj.school %>">
        </div>
    </div>
    <div class="span1">
        <button class="btn btn-mini btn-warning btn-remove"><i class="icon-minus icon-white"></i></button>
    </div>
</div>