<div class="navbar-inner">
	<div id="myCarousel" class="carousel slide">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item">
	    	<img src="/images/resume/sample/default.png" class="img-polaroid" data-template-name="default"/>
	    	<img src="/images/resume/sample/style1.png" class="img-polaroid" data-template-name="style1"/>
	    	<img src="/images/resume/sample/style2.png" class="img-polaroid" data-template-name="style2"/>
	    	<img src="/images/resume/sample/style3.png" class="img-polaroid" data-template-name="style3"/>
	    	<img src="/images/resume/sample/style4.png" class="img-polaroid" data-template-name="style4"/>
	    	<img src="/images/resume/sample/style5.png" class="img-polaroid" data-template-name="style5"/>
	    </div>
	    <div class="item">
	    	<img src="/images/resume/sample/style1.png" class="img-polaroid" />
	    </div>
	    <div class="item">
	    	<img src="/images/resume/sample/style1.png" class="img-polaroid" />
	    </div>
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>