	<div class="row-fluid">
		<div class="span3">
			<img src="images/resume.png" class="img-polaroid sl-photo">
		</div>

		<div class="span7">
			<p><h4>氏名　たろう</h4></p>
			<p class="text-info"><i class="icon-leaf"></i>　生年月日：1984年07月29日 （ 男 29歳 既婚 ）</p>
			<p class="text-info"><i class="icon-home"></i>　東京都 墨田区 立花 1-28-3 509（ 〒 1310043 ）</p>
			<p class="text-info"><i class="icon-road"></i>　最寄り駅：JR 総武線亀戸駅</p>
			<p class="text-info"><i class="icon-signal"></i>　090-9103-4996</p>
			<p class="text-info"><i class="icon-envelope"></i>　joe.19840729.china@gmail.com</p>
			<p class="text-info"><i class="icon-globe"></i>　www.selink.jp</p>
		</div>
		<div class="span2">
			<div id="resumeEdit"><a class="btn btn-small btn-success"><i class="icon-ok-circle icon-white"></i> 保存</a></div>
		</div>
	</div>
	<hr>
	<p><h4>自己紹介</h4></p>
	<p>自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介</p>
	<hr>
	<p><h4><i class="icon-globe"></i>　語学能力</h4></p>
	<p><i class="icon-ok"></i>　日本語（ビジネスレベル）</p>
	<p><i class="icon-ok"></i>　英語（TOEIC 800点以上）</p>
	<p><i class="icon-ok"></i>　中国語	（ネイティブ）</p>
	<hr>
	<p><h4>資格情報</h4></p>
	<p><i class="icon-ok"></i>　2007/06/05	中国英語能力試験４級	持たないと卒業できない資格</p>
	<p><i class="icon-ok"></i>　2007/06/05	中国英語能力試験４級	持たないと卒業できない資格</p>
	<p><i class="icon-ok"></i>　2007/06/05	中国英語能力試験４級	持たないと卒業できない資格</p>