<div>履歴書に追加します：</div>
<div id="itemBtnArea"></div>
<hr style="clear: both;">
<div>背景パターン：</div>
<div class="img-polaroid" style="height:20px; width:20px; background-image: url('/images/resume/bgnoise_lg.png')"></div>
<div class="img-polaroid" style="height:20px; width:20px; background-image: url('/images/resume/escheresque.png')"></div>
<div class="img-polaroid" style="height:20px; width:20px; background-image: url('/images/resume/farmer.png')"></div>
<div class="img-polaroid" style="height:20px; width:20px; background-image: url('/images/resume/grey_sandbag.png')"></div>
<div class="img-polaroid" style="height:20px; width:20px; background-image: url('/images/resume/grid.png')"></div>
<div class="img-polaroid" style="height:20px; width:20px; background-image: url('/images/resume/irongrip.png')"></div>
<div class="img-polaroid" style="height:20px; width:20px; background-image: url('/images/resume/kindajean.png')"></div>
<div class="img-polaroid" style="height:20px; width:20px; background-image: url('/images/resume/light_alu.png')"></div>
<div class="img-polaroid" style="height:20px; width:20px; background-image: url('/images/resume/little_pluses.png')"></div>
<div class="img-polaroid" style="height:20px; width:20px; background-image: url('/images/resume/noisy_grid.png')"></div>
<div class="img-polaroid" style="height:20px; width:20px; background-image: url('/images/resume/purty_wood.png')"></div>
<div class="img-polaroid" style="height:20px; width:20px; background-image: url('/images/resume/retro_intro.png')"></div>
<hr style="clear: both;">
<div>出力：</div>
<button class="btn btn-warning btn-pdf"><i class="icon-file icon-white"></i> PDF</button>