<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">CV Bakery</a>
        <ul class="nav">
            <!-- <li class="active"><a href="#">Home</a></li> -->
        </ul>
        <ul class="nav pull-right">
            <li>
                <form class="navbar-form">
                    <div style="display: inline-block;">
                        <span class="nav-message"></span>
                    </div>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-envelope"></i></span>
                        <input type="text" class="input-medium" placeholder="メールアドレス" name="email">
                    </div>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-key"></i></span>
                        <input type="password" class="input-medium" placeholder="パースワード" name="password">
                    </div>
                    <a id="narvLoginBtn" class="btn btn-success" href="#">
                        <i class="icon-signin icon-white"></i>  ログイン
                    </a>
                    <a id="forgotPassBtn" class="btn btn-warning" href="#">
                        <i class="icon-medkit icon-white"></i> パースワード忘れた？
                    </a>
                </form>
            </li>
        </ul>
    </div>
</div>

<div id="content">

    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <div class="sl-carousel-item item1"></div>
            </div>
            <div class="item item2">
                <div class="sl-carousel-item item2">
                    <div id="login" style="position:absolute; top: 125px; right: 100px;"></div>
                </div>
            </div>
            <div class="item item3">
                <div class="sl-carousel-item item3">
                    <div id="register" style="position:absolute; top: 125px; right: 100px;"></div>
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <div class="row-fluid">
        <div class="span4 offset1">
            <h4>CV-Bakeryとは？</h4>
            <ul>
                <li>最先端のウェブ技術でオンライン履歴書作成ウェブアプリ！</li>
                <li>1分間登録し、5分後履歴書出来上がり！</li>
                <li>10+ 種類の美しいファーマット、つまらない履歴書にさよなら！</li>
                <li>載せたいものだけ設定きる、完全にカスタマイズ可能！</li>
                <li>書きながら保存、余計な操作はいらない！</li>
                <li>問答無用！いつまでも無料！</li>
                <li>WYSIWYG!（What you see is what you got）!</li>
                <li>Show time!</li>
            </ul>
            <p>.But the truth is, this is a very generic, multi-purpose object that can serve many d, with good reason and discussion, on renaming objects to be more descriptive, less confusing, etc. If you would like to suggest a different name, please do so in either the mailing list or the github issues list.</p>
        </div>
        <div class="span4 offset1">
            <h4>対応するブラウザ</h4>
            <ul>
                <li>The name Controller is bound to cause a bit of </li>
                <li>rather unfortunate. There was some discussion </li>
                <li>this object, the idea that people would confuse this with an MVC </li>
                <li>style controller came up a number of times. In the </li>
                <li>to call this a controller anyways, as the typical use</li>
                <li>to call this a controller anyways, as the typical use case is to</li>
                <li>control the workflow and process of an application an</li>
                <li>ifferent roles in many different scenarios. We are always open to </li>
            </ul>
            <p>.But the truth is, this is a very generic, multi-purpose object that can serve many d, with good reason and discussion, on renaming objects to be more descriptive, less confusing, etc. If you would like to suggest a different name, please do so in either the mailing list or the github issues list.</p>
        </div>
    </div>
</div>

<div id="footer">
    <p>Designed and built with all the love in the world by JoeHetfield.</p>
    <p>Special thanks to: Mom, Dad, My wife &amp; Momo!.</p>
    <p>Copyright &copy; 2013 JoeHetfield. All Right Reserved.</p>
</div>

<!-- Retirve Password Modal -->
<div id="retrivePassModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">パースワードをリセット</h3>
  </div>
  <div class="modal-body">
    <p>ご登録したメールアドレスをご提示していただき、パースワードリセットを手続きを行います：</p>
    <p><div class="modal-message"></div></p>
    <p><form class="modal-form">
        <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input type="text" class="input-large" placeholder="メールアドレス" name="accountId">
        </div>
    </form></p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" id="retrivePassBtn">送信</button>
    <button class="btn btn-warning" data-dismiss="modal" aria-hidden="true">閉じる</button>
  </div>
</div>