<div id="loginPanel" class="well well-small sl-panel">   
    <form id="login-form" method="post" action="/login">
        <legend><strong>ログイン</strong></legend>
        <p><div class="message"></div></p>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <input type="text" class="sl-text" placeholder="e-mail address" name="username">
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-key"></i></span>
            <input type="password" class="sl-text" placeholder="password" name="password">
        </div>
        <p>
            <a id="loginBtn" class="btn btn-primary" href="#"><i class="icon-signin icon-white"></i> ログイン</a>
            <a id="registerBtn" class="btn btn-success" href="#register"><i class="icon-ok icon-white"></i>　登録　</a>
        </p>
    </form>
</div>