<div id="loginPanel" class="well well-small sl-panel">   
    <form id="form" method="post" action="/login">
        <legend><strong>ログイン</strong></legend>
        <p><div class="message"></div></p>
        <p><input type="text" class="sl-text" placeholder="username" name="username"></p>
        <p><input type="password" class="sl-text" placeholder="password" name="password"></p>
        <p>
            <a id="loginBtn" class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> ログイン</a>
            <a id="registerBtn" class="btn btn-success" href="#register"><i class="icon-ok icon-white"></i>　登録　</a>
        </p>
    </form>
</div>