<div class="navbar-inner">
    <a class="brand" href="#">CV Bakery</a>
	<ul class="nav">
		<% _.each(obj.menu, function(menu) { %>
		<li><a href="<%- menu.url %>"><i class="<%- menu.icon %> icon-large"></i> <%- menu.name %></a></li>
		<% }); %>
	</ul>
    <ul class="nav pull-right">
        <li>
            <div class="navbar-form">
                <button id="helpBtn" class="btn btn-info"><i class="icon-question icon-white"></i> ヘルプ</button>
                <button id="logoutBtn" class="btn btn-danger"><i class="icon-signout icon-white"></i> ログアウト</button>
            </div>
        </li>
    </ul>
</div>
