<div id="header"></div>

<div id="body">

    <div id="content"></div>

	<ul class="nav nav-pills nav-stacked affix" style="bottom: 55px;">
		<li>
			<a id="templateBtn"><i class="icon-columns icon-file-alt icon-2x"></i></a>
		</li>
		<li>
			<a id="itemBtn"><i class="icon-edit icon-white icon-2x"></i></a>
		</li>
		<li>
			<a id="backgroundBtn"><i class="icon-picture icon-white icon-2x"></i></a>
		</li>
		<li>
			<a><i class="icon-print icon-white icon-2x"></i></a>
		</li>
	</ul>

</div>

<div id="footer"></div>