<div id="header"></div>

<div id="body">

    <div id="toolArea">
        <div id="logoutBtn"><button class="btn btn-info"><i class="icon-circle-arrow-right icon-white"></i></button></div>
        <div id="fullScreenBtn"><button class="btn btn-info"><i class="icon-fullscreen icon-white"></i></button></div>
        <div id="partScreenBtn"><button class="btn btn-info"><i class="icon-screenshot icon-white"></i></button></div>
        <div id="helpBtn"><button class="btn btn-info"><i class="icon-question icon-white"></i></button></div>
    </div>

    <div id="content">a</div>

    <div id="navigator"></div>

</div>

<div id="footer"></div>