<div id="header"></div>

<div id="body">

    <div id="toolArea">
        <div id="fullScreenBtn"><a class="btn btn-small btn-info"><i class="icon-fullscreen icon-white"></i></a></div>
        <div id="partScreenBtn"><a class="btn btn-small btn-info"><i class="icon-screenshot icon-white"></i></a></div>
        <div id="logoutBtn"><a class="btn btn-small btn-info"><i class="icon-circle-arrow-right icon-white"></i></a></div>
    </div>

    <div id="content">
        a
    </div>

    <div id="navigator"></div>

</div>

<div id="footer"></div>