<div id="registerPanel" class="well well-small sl-panel"> 
    <form id="form" method="post" action="/account/create">
    	<legend><strong>登録</strong></legend>
    	<p><div class="message"></div><p>
    	<p><input type="text" class="sl-text" placeholder="username" name="userName"></p>
    	<p><input type="password" class="sl-text" placeholder="password" name="passWord"></p>
    	<p><input type="password" class="sl-text" placeholder="password" name="repeat-password"></p>
    	<p>
    		<a id="registerBtn" class="btn btn-success" href="#"><i class="icon-ok icon-white"></i> 登録</a>
    		<a id="cancelBtn" class="btn btn-warning" href="#login"><i class="icon-remove icon-white"></i> 取消</a>
    	</p>
    </form>
</div>