<div class="row-fluid">

    <div class="span3">
        <img src="images/resume.png" class="img-polaroid sl-photo">
    </div>

    <div class="span7 row-fluid">

        <div class="sl-editor span12">
                <div class="sl-value">
                    <h4><% if(obj.firstName) print(obj.firstName + "　　" + obj.lastName); else print("Your name"); %></h4>
                </div>
                <div class="sl-input">
                    <input type="text" class="input-mini" name="firstName" value="<%= obj.firstName %>" data-title="氏名" data-content="ご氏名を入力してください" data-trigger="focus" data-placement="bottom">
                    <input type="text" class="input-mini" name="lastName" value="<%= obj.lastName %>" data-title="氏名" data-content="ご氏名を入力してください" data-trigger="focus" data-placement="bottom">
                </div>
        </div>

        <div class="sl-editor span12">
            <div class="sl-icon span1">
                <i class="icon-leaf"></i>
            </div>
            <div class="sl-value span11">
                <%= obj.birthDay %>
            </div>
            <div class="sl-input">
                <input type="text" class="input-large" name="birthDay" value="<%= obj.birthDay %>" data-title="生年月日" data-content="ご誕生日を入力してください" data-trigger="focus">
            </div>
        </div>

        <div class="sl-editor span12">
            <div class="sl-icon span1">
                <i class="icon-home"></i>
            </div>
            <div class="sl-value span11">
                <%= obj.address %>
            </div>
            <div class="sl-input">
                <input type="text" class="input-large" name="address" value="<%= obj.address %>" data-title="住所" data-content="ご住所を入力してください" data-trigger="focus">
            </div>
        </div>

        <div class="sl-editor span12">
            <div class="sl-icon span1">
                <i class="icon-road"></i>
            </div>
            <div class="sl-value span11">
                <%= obj.nearestStation %>
            </div>
            <div class="sl-input">
                <input type="text" class="input-large" name="nearestStation" value="<%= obj.nearestStation %>" data-title="最寄り駅" data-content="ご住所からの最寄り駅を入力してください" data-trigger="focus">
            </div>
        </div>

        <div class="sl-editor span12">
            <div class="sl-icon span1">
                <i class="icon-signal"></i>
            </div>
            <div class="sl-value span11">
                <%= obj.telNo %>
            </div>
            <div class="sl-input">
                <input type="text" class="input-large" name="telNo" value="<%= obj.telNo %>" data-title="電話番号" data-content="ご電話番号を入力してください" data-trigger="focus">
            </div>
        </div>

        <div class="sl-editor span12">
            <div class="sl-icon span1">
                <i class="icon-envelope"></i>
            </div>
            <div class="sl-value span11">
                <%= obj.email %>
            </div>
            <div class="sl-input">
                <input type="text" class="input-large" name="email" value="<%= obj.email %>" data-title="メールアドレス" data-content="ごメールアドレスを入力してください" data-trigger="focus">
            </div>
        </div>

        <div class="sl-editor span12">
            <div class="sl-icon span1">
                <i class="icon-globe"></i>
            </div>
            <div class="sl-value span11">
                <%= obj.homePage %>
            </div>
            <div class="sl-input">
                <input type="text" class="input-large" name="homePage" value="<%= obj.homePage %>" data-title="ホームページ" data-content="ホームページを入力してください" data-trigger="focus">
            </div>
        </div>

    </div>

</div>
<hr>

<div class="row-fluid">
    <h4>自己紹介</h4>
    <div class="sl-editor span12">
        <div class="sl-value">
            <p><% if(obj.selfIntroduction) print(obj.selfIntroduction); else print("Your selfIntroduction"); %></p>
        </div>
        <div class="sl-input">
            <textarea class="input-xxlarge" rows="10" name="selfIntroduction" data-title="自己紹介" data-content="自己紹介を入力してください" data-trigger="focus"><%= obj.selfIntroduction %></textarea>
        </div>
    </div>
</div>
<hr>

<div id="sl-languangeBackground" class="row-fluid">
    <div class="span12">
        <h4 class="span10">語学能力</h4>
        <div class="span2 btn-group">
            <a class="btn btn-info btn-mini"><i class="icon-chevron-up icon-white"></i></a>
            <a class="btn btn-info btn-mini"><i class="icon-chevron-down icon-white"></i></a>
            <a id="addLanguageBtn" class="btn btn-info btn-mini"><i class="icon-plus icon-white"></i></a>
        </div>
    </div>

<!--     <% _.each(obj.languageBackground, function(languageBackground, index) { %>
        <div class="sl-editor row-fluid">
            <div class="sl-icon span1">
                <i class="icon-ok"></i>
            </div>
            <div class="sl-value span11">
                <% if(languageBackground.language) 
                    print(languageBackground.language + languageBackground.background); %>
            </div>
            <div class="sl-input">
                <select class="input-small" name="languageBackground.<%= index %>.language" data-title="ホームページ" data-content="ホームページを入力してください" data-trigger="focus" data-placement="top">
                    <option value="">--</option>
                    <option value="英語" <% if(languageBackground.language == "英語") print('selected'); %>>英語</option>
                    <option value="日本語" <% if(languageBackground.language == "日本語") print('selected'); %>>日本語</option>
                    <option value="中国語" <% if(languageBackground.language == "中国語") print('selected'); %>>中国語</option>
                </select>
                <input type="text" class="input-large" name="languageBackground.<%= index %>.background" value="<%= languageBackground.background %>" data-title="ホームページ" data-content="ホームページを入力してください" data-trigger="focus" data-placement="top">
                <button class="btn btn-info btn-small"><i class="icon-minus icon-white"></i></button>
            </div>
        </div>
    <% }); %> -->
</div>
<hr>

<p><h4>資格情報</h4></p>
<p><i class="icon-ok"></i>　2007/06/05    中国英語能力試験４級    持たないと卒業できない資格</p>
<p><i class="icon-ok"></i>　2007/06/05    中国英語能力試験４級    持たないと卒業できない資格</p>
<p><i class="icon-ok"></i>　2007/06/05    中国英語能力試験４級    持たないと卒業できない資格</p>
<hr>

<p><h4>学歴</h4></p>
<p><i class="icon-ok"></i>　2006/06/30    北京情報工程学院    コンピュータ科学</p>
<p><i class="icon-ok"></i>　2006/06/30    北京情報工程学院    コンピュータ科学</p>
<p><i class="icon-ok"></i>　2006/06/30    北京情報工程学院    コンピュータ科学</p>
<hr>

<p><h4>社歴</h4></p>
<p><i class="icon-ok"></i>　2007/06/23～2009/12/31    株式会社トレクス    東京    社員</p>
<p><i class="icon-ok"></i>　2007/06/23～2009/12/31    株式会社トレクス    東京    社員</p>
<p><i class="icon-ok"></i>　2007/06/23～2009/12/31    株式会社トレクス    東京    社員</p>