.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: url('../images/page-bg.png') repeat center top;
}
.error span {
  border-color: #b94a48 !important;
  background-color: #f2dede !important;
  color: #b94a48;
}
.input-append .popover,
.input-prepend .popover {
  font-size: 11.9px;
}
.sl-value:hover {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #ccc;
}
.sl-editor {
  display: none;
}
.sl-panel {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 3px #808080;
  -moz-box-shadow: 1px 1px 3px #808080;
  box-shadow: 1px 1px 3px #808080;
}
.sl-placeholder {
  color: #999999;
}
#body {
  position: relative;
}
#navigator {
  position: relative;
  float: left;
  margin-left: -100%;
  right: 410px;
}
#content {
  float: left;
  width: 100%;
  height: 100%;
}
#toolArea {
  position: absolute;
  top: 0;
  right: 0;
}
#toolArea div {
  display: none;
  float: right;
  margin: 3px;
}
#loginPanel {
  max-width: 260px;
}
#registerPanel {
  max-width: 260px;
}
#resumeContextMenu {
  max-width: 240px;
  min-width: 240px;
}
#resumeContextMenu button {
  margin: 3px;
}
#resumeContextMenu .btn {
  min-width: 41px;
}
#resumeContextMenu .bk-sample {
  height: 20px;
  width: 20px;
  margin: 3px;
  float: left;
}
#resumePanel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}
#resumePanel .detailArea {
  clear: both;
  font-size: 11.9px;
}
#resumePanel .label {
  margin-top: 12px;
}
#resumePanel.default {
  width: 700px;
  font-size: 14px;
}
#resumePanel.default hr {
  margin: 10px 0;
}
#resumePanel.default .sl-photo {
  max-width: 150px;
  min-width: 150px;
  max-height: 210px;
  margin-bottom: 5px;
  margin-left: 10px;
}
#resumePanel.default .sl-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
}
#resumePanel.default .detailArea {
  padding-left: 25px;
}
#resumePanel.default [class*="span"] {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  min-height: 40px;
  margin-bottom: 0px !important;
}
#resumePanel.default .bar {
  line-height: 30px;
}
#resumePanel.default .progress {
  height: 30px;
  margin-bottom: 10px;
}
#resumePanel.default .ui-slider-horizontal {
  height: 1.2em;
}
#resumePanel.default .ui-slider .ui-slider-handle {
  width: 0.8em;
  height: 1.6em;
}
#resumePanel.style1 {
  width: 1000px;
  font-size: 11.9px;
}
#resumePanel.style1 hr {
  margin: 5px 0;
}
#resumePanel.style1 .sl-photo {
  max-width: 100%;
  min-width: 120px;
  max-height: 210px;
  margin-bottom: 5px;
}
#resumePanel.style1 .sl-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 90%;
  max-height: 200px;
}
#resumePanel.style1 .detailArea {
  padding-left: 25px;
}
#resumePanel.style1 [class*="span"] {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  min-height: 40px;
  margin-bottom: 0px !important;
}
#resumePanel.style1 .progress {
  margin-bottom: 5px;
}
#resumePanel.style1 .ui-slider-horizontal {
  height: 1.2em;
}
#resumePanel.style1 .ui-slider .ui-slider-handle {
  width: 0.8em;
  height: 1.6em;
}
#resumePanel.style2 {
  width: 1000px;
  font-size: 11.9px;
}
#resumePanel.style2 hr {
  margin: 5px 0;
}
#resumePanel.style2 h4 {
  margin-bottom: 0px;
}
#resumePanel.style2 .sl-photo {
  max-width: 100%;
  min-width: 120px;
  max-height: 210px;
  margin-bottom: 5px;
}
#resumePanel.style2 .sl-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 90%;
  max-height: 200px;
}
#resumePanel.style2 [class*="span"] {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  min-height: 30px;
  margin-bottom: 0px !important;
}
#resumePanel.style2 .composite-header {
  border-bottom: 1px dotted #B8B896;
}
#resumePanel.style2 .item-container {
  margin-top: 10px;
}
#resumePanel.style2 .progress {
  margin-bottom: 5px;
}
#resumePanel.style2 .ui-slider-horizontal {
  height: 1.2em;
}
#resumePanel.style2 .ui-slider .ui-slider-handle {
  width: 0.8em;
  height: 1.6em;
}
#resumePanel.style3,
#resumePanel.style4 {
  width: 1000px;
  font-size: 14px;
}
#resumePanel.style3 hr,
#resumePanel.style4 hr {
  margin: 5px 0;
}
#resumePanel.style3 .sl-photo,
#resumePanel.style4 .sl-photo {
  margin-bottom: 5px;
}
#resumePanel.style3 .sl-photo img,
#resumePanel.style4 .sl-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#resumePanel.style3 [class*="span"],
#resumePanel.style4 [class*="span"] {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  min-height: 40px;
  margin-bottom: 0px !important;
}
#resumePanel.style3 .composite-header,
#resumePanel.style4 .composite-header {
  background-color: #eee;
}
#resumePanel.style3 .composite-header .sl-editor,
#resumePanel.style4 .composite-header .sl-editor {
  margin-top: 7px;
}
#resumePanel.style3 .item-container,
#resumePanel.style4 .item-container {
  margin-top: 10px;
}
#resumePanel.style3 .bar,
#resumePanel.style4 .bar {
  line-height: 30px;
}
#resumePanel.style3 .progress,
#resumePanel.style4 .progress {
  height: 30px;
  margin-bottom: 10px;
}
#resumePanel.style3 .ui-slider-horizontal,
#resumePanel.style4 .ui-slider-horizontal {
  height: 1.2em;
}
#resumePanel.style3 .ui-slider .ui-slider-handle,
#resumePanel.style4 .ui-slider .ui-slider-handle {
  width: 0.8em;
  height: 1.6em;
}
#landingPage .navbar {
  margin-bottom: 0px;
}
#landingPage .navbar .input-prepend {
  margin-bottom: 0px;
}
#landingPage #content {
  float: none;
}
#landingPage #content .sl-carousel-item {
  width: 100%;
  max-height: 500px;
  min-height: 500px;
  position: relative;
}
#landingPage #content .item1 {
  background-image: url(../images/landing/bootstrap-mdo-sfmoma-01.jpg);
}
#landingPage #content .item2 {
  background-image: url(../images/landing/bootstrap-mdo-sfmoma-02.jpg);
}
#landingPage #content .item3 {
  background-image: url(../images/landing/bootstrap-mdo-sfmoma-03.jpg);
}
#landingPage #footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px 0;
  margin-top: 130px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
