.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: url('../images/page-bg.png') repeat center top;
}
.error span {
  border-color: #b94a48 !important;
  background-color: #f2dede !important;
  color: #b94a48;
}
.input-append .popover,
.input-prepend .popover {
  font-size: 11.9px;
}
.sl-placeholder {
  color: #999999;
}
#body {
  position: relative;
}
#content {
  height: 100%;
}
#loginPanel {
  max-width: 260px;
}
#registerPanel {
  max-width: 260px;
}
.navbar-fixed-bottom {
  bottom: -70px;
  z-index: 0;
}
.navbar-fixed-bottom .navbar-inner {
  min-height: 70px;
}
.navbar-fixed-bottom .navbar-inner .carousel {
  margin-bottom: 0px;
}
.navbar-fixed-bottom .navbar-inner .carousel-control {
  top: 45%;
}
#templateMenu .carousel-inner {
  margin: 0 70px;
}
#templateMenu .carousel-inner img {
  display: inline;
  height: 50px;
  width: auto;
  margin: 5px 10px 5px 0px;
}
#templateMenu .carousel-inner img:hover {
  cursor: pointer;
}
#itemMenu .itemMenu-inner {
  margin: 0 40px;
  line-height: 70px;
}
#itemMenu .itemMenu-inner button {
  display: inline;
  margin: 5px 10px 5px 0px;
}
#itemMenu .itemMenu-inner button:hover {
  cursor: pointer;
}
#backgroundMenu .carousel-inner {
  margin: 0 70px;
}
#backgroundMenu .carousel-inner .bk-sample {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 5px 13px 5px 0px;
}
#backgroundMenu .carousel-inner .bk-sample:hover {
  cursor: pointer;
}
#resumePanel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 1px 1px 3px #808080;
  -moz-box-shadow: 1px 1px 3px #808080;
  box-shadow: 1px 1px 3px #808080;
  margin-top: 5px;
  margin-bottom: 75px;
  font-size: 11.9px;
}
#resumePanel #photo {
  text-align: center;
}
#resumePanel #skill .input-append,
#resumePanel #languageBackground .input-append,
#resumePanel #skill .input-prepend,
#resumePanel #languageBackground .input-prepend {
  margin-bottom: 0px;
}
#resumePanel .sl-editable {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 5px;
  line-height: 30px;
}
#resumePanel .sl-editable:hover {
  background-color: #ccc;
  cursor: pointer;
}
#resumePanel .sl-sub-editable {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 5px;
}
#resumePanel .sl-sub-editable:hover {
  background-color: #ccc;
  cursor: pointer;
}
#resumePanel .sl-editor {
  display: none;
}
#resumePanel [class*="span"] {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  min-height: 30px;
  margin: 0px !important;
}
#resumePanel .detailArea {
  clear: both;
  font-size: 11.9px;
}
#resumePanel .label {
  margin-top: 12px;
}
#resumePanel .bar {
  line-height: 30px;
}
#resumePanel .progress {
  height: 30px;
  margin-bottom: 0px;
}
#resumePanel .ui-slider-horizontal {
  height: 1.2em;
}
#resumePanel .ui-slider .ui-slider-handle {
  width: 0.8em;
  height: 1.6em;
}
#resumePanel.default {
  width: 700px;
  font-size: 14px;
}
#resumePanel.default hr {
  margin: 10px 0;
}
#resumePanel.default .sl-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: auto;
}
#resumePanel.style1 {
  width: 1000px;
}
#resumePanel.style1 hr {
  margin: 5px 0;
}
#resumePanel.style1 .sl-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: auto;
}
#resumePanel.style1 .composite-header {
  background-color: #eee;
  padding: 5px;
}
#resumePanel.style1 .composite-header:hover {
  background-color: #ccc;
  cursor: pointer;
}
#resumePanel.style1 .composite-header .sl-editor {
  margin-top: 7px;
}
#resumePanel.style2 {
  width: 1000px;
}
#resumePanel.style2 hr {
  margin: 5px 0;
}
#resumePanel.style2 h4 {
  margin-bottom: 0px;
}
#resumePanel.style2 .sl-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: auto;
}
#resumePanel.style2 [class*="span"] {
  min-height: 30px;
}
#resumePanel.style2 .composite-header {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border-bottom: 1px dotted #B8B896;
  padding: 5px;
}
#resumePanel.style2 .composite-header:hover {
  background-color: #ccc;
  cursor: pointer;
}
#resumePanel.style2 .composite-header .sl-editor {
  margin-top: 7px;
}
#resumePanel.style2 .item-container {
  margin-top: 10px;
}
#resumePanel.style3,
#resumePanel.style4 {
  width: 1000px;
}
#resumePanel.style3 hr,
#resumePanel.style4 hr {
  margin: 5px 0;
}
#resumePanel.style3 .sl-photo,
#resumePanel.style4 .sl-photo {
  margin-bottom: 5px;
}
#resumePanel.style3 .sl-photo img,
#resumePanel.style4 .sl-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: auto;
}
#resumePanel.style3 .composite-header,
#resumePanel.style4 .composite-header {
  background-color: #eee;
  padding: 5px;
}
#resumePanel.style3 .composite-header:hover,
#resumePanel.style4 .composite-header:hover {
  background-color: #ccc;
  cursor: pointer;
}
#resumePanel.style3 .composite-header .sl-editor,
#resumePanel.style4 .composite-header .sl-editor {
  margin-top: 7px;
}
#resumePanel.style3 .item-container,
#resumePanel.style4 .item-container {
  margin-top: 10px;
}
#resumePanel.style5 {
  width: 1000px;
}
#resumePanel.style5 hr {
  margin: 10px 0;
}
#resumePanel.style5 .sl-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  height: auto;
}
#landingPage .navbar {
  margin-bottom: 0px;
}
#landingPage .navbar .input-prepend {
  margin-bottom: 0px;
}
#landingPage #content {
  float: none;
}
#landingPage #content .sl-carousel-item {
  width: 100%;
  max-height: 500px;
  min-height: 500px;
  position: relative;
}
#landingPage #content .item1 {
  background-image: url(../images/landing/bootstrap-mdo-sfmoma-01.jpg);
}
#landingPage #content .item2 {
  background-image: url(../images/landing/bootstrap-mdo-sfmoma-02.jpg);
}
#landingPage #content .item3 {
  background-image: url(../images/landing/bootstrap-mdo-sfmoma-03.jpg);
}
#landingPage #footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px 0;
  margin-top: 130px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
