/* Global Setting */
html {
	height: 100%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background: url('../images/page-bg.png') repeat center top;
}

ul {
	margin: 0;
	padding: 0;
	width: auto;
}

li {
	list-style: none;
}

.input-append .popover,
.input-prepend .popover {
	font-size: 12px;
}

.sl-photo {
	max-width: 150px;
	min-width: 150px;
	max-height: 210px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}

.sl-editor {
	display: none;
}

.sl-editor button {
	margin-bottom: 10px;
}

.sl-input {
	display: inline-block;
}

.error span{
	border-color: #b94a48 !important;
	background-color: #f2dede !important;
	color: #b94a48;
}

/* Panel common */
.sl-panel {
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 1px 1px 3px gray;
	-webkit-box-shadow: 1px 1px 3px gray;
	box-shadow: 1px 1px 3px gray;
}

/* Main Header*/
#header {
	/*width: 95%;*/
	min-height: 40px;
	position: absolute;
	/*top: -40px;*/
}

/* Main Body*/
#body {
	padding-left: 0px;
	position: relative;
}

/* Main Navigator*/
#navigator {
	position: relative;
	float: left;
	margin-left: -100%;
	right: 410px;
}

/* Main Content */
#content {
	float: left;
	width: 100%;
	height: 100%;
}

#toolArea {
	position: absolute;
	top: 0;
	right: 0;
}

#toolArea div {
	display: none;
	float: right;
}

/* Login Panel*/
#loginPanel {
	max-width: 260px;
	margin: auto;
}

/* Account Panel*/
#accountPanel {
	max-width: 180px;
}

/* Register Panel*/
#registerPanel {
	max-width: 260px;
	margin: auto;
}

#logoutBtn {
	float: right;
	margin-right: 1em;
}

/* Resume Panel*/
#resumePanel {
	max-width: 700px;
	min-width: 700px;
	margin-right: 10px;
	font-size: 14px;
	line-height: 30px;
}

#resumePanel .radio.inline{
	padding-top: 0px;
	vertical-align: top;
}

#resumePanel hr {
	margin: 10px 0;
}

#resumePanel [class*="span"] {
	border: 1px none green;
	min-height: 40px;
	/*margin-left: 0px !important;*/
	/*margin-bottom: 0px !important;*/
}

#resumeToolPanel {
	max-width: 180px;
}

#resumeToolPanel button {
	margin: 3px;
}

#resumeToolPanel .img-polaroid {
	margin: 3px;
	float: left;
}