<div class="row-fluid composite-header">
    <div class="span11">
        <h4><i class="icon-user icon-large"></i>&nbsp;&nbsp;Self Introduction</h4>
    </div>
    <div class="span1">
        <div class="sl-editor">
            <button class="btn btn-small btn-warning btn-remove"><i class="icon-remove icon-white"></i></button>
        </div>
    </div>
</div>
<div class="sl-sub-editable">
    <div class="sl-value">
        <% 
            if (obj.selfIntroduction)
                print(markdown.toHTML(obj.selfIntroduction));
            else
                print('<i class="sl-placeholder">Click to edit</i>')
        %>
    </div>
    <div class="sl-editor">
        <div class="sl-input" style="width: 100%">
            <textarea style="width: 95%" rows="10" name="selfIntroduction"><%- obj.selfIntroduction %></textarea>
        </div>
    </div>
</div>
