<div class="row-fluid">
    <div class="span8" style="margin-right: 25px !important">
        <div id="education"></div>
        <div id="qualification"></div>
        <div id="career"></div>
        <div id="workExperience"></div>
    </div>

    <div class="span4">
        <div id="photo"></div>
        <div id="name"></div>
        <div id="selfIntroduction"></div>
        <div id="skill"></div>
        <div id="language"></div>
        <hr>
        <div id="birthDay"></div>
        <div id="gender"></div>
        <div id="nationality"></div>
        <div id="married"></div>
        <div id="firstArrive"></div>
        <div id="itExperience"></div>
        <div id="availableDate"></div>
        <div id="address"></div>
        <div id="nearestStation"></div>
        <div id="telNo"></div>
        <div id="email"></div>
        <div id="homePage"></div>
    </div>
</div>

<div id="contextMenu"></div>