<hr>
<div class="row-fluid">
    <div class="span10">
        <h4><i class="icon-comments-alt icon-large"></i>&nbsp;&nbsp;語学能力</h4>
    </div>
    <div class="span2">
        <div class="sl-editor">
            <button class="btn btn-small btn-info btn-add"><i class="icon-plus icon-white"></i></button>
            <button class="btn btn-small btn-warning btn-remove"><i class="icon-remove icon-white"></i></button>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 row-fluid item-container"></div>
</div>