<div class="span1">
    <i class="icon-briefcase"></i>
</div>
<div class="span11">
    <div class="sl-value">
        <% 
            if (obj.itExperience)
                print(obj.itExperience + "年");
            else
                print('<i class="sl-placeholder">ここをクリックしてIT経験年数を入力します</i>')
        %>
    </div>
    <div class="sl-editor row-fluid">
        <div class="input-prepend sl-input span10">
            <span class="add-on"><i class="icon-briefcase"></i></span>
            <input type="text" class="input-mini" placeholder="経験年数" name="itExperience" value="<%- obj.itExperience %>">
        </div>
        <div class="span2">
            <button class="btn btn-small btn-warning btn-remove"><i class="icon-remove icon-white"></i></button>
        </div>
    </div>
</div>