<div class="span1">
    <i class="icon-road"></i>
</div>
<div class="span11">
    <div class="sl-value">
        <% 
            if (obj.nearestStation)
                print(obj.nearestStation);
            else
                print('<i class="sl-placeholder">ここをクリックして最寄り駅を入力します</i>')
        %>
    </div>
    <div class="sl-editor row-fluid">
        <div class="input-prepend sl-input span10">
            <span class="add-on"><i class="icon-road"></i></span>
            <input type="text" class="input-small" placeholder="最寄り駅" name="nearestStation" value="<%- obj.nearestStation %>">
        </div>
        <div class="span2">
            <button class="btn btn-small btn-warning btn-remove"><i class="icon-remove icon-white"></i></button>
        </div>
    </div>
</div>