<div class="row-fluid">
    <div class="span2">
        <div class="row-fluid bootstro" id="photo"></div>
    </div>

    <div class="span6">
        <div id="name"></div>
        <div id="selfIntroduction"></div>
    </div>

    <div class="span4">
        <div class="row-fluid" id="birthDay"></div>
        <div class="row-fluid" id="gender"></div>
        <div class="row-fluid" id="nationality"></div>
        <div class="row-fluid" id="married"></div>
        <div class="row-fluid" id="firstArrive"></div>
        <div class="row-fluid" id="itExperience"></div>
        <div class="row-fluid" id="availableDate"></div>
        <div class="row-fluid" id="address"></div>
        <div class="row-fluid" id="nearestStation"></div>
        <div class="row-fluid" id="telNo"></div>
        <div class="row-fluid" id="email"></div>
        <div class="row-fluid" id="homePage"></div>
    </div>
</div>

<hr>

<div class="row-fluid">
    <div class="span4">
        <div id="education" style="margin: 20px;"></div>
        <div id="qualification" style="margin: 20px;"></div>
    </div>
    <div class="span4">
        <div id="career" style="margin: 20px;"></div>
        <div id="workExperience" style="margin: 20px;"></div>
    </div>
    <div class="span4">
        <div id="skill" style="margin: 20px;"></div>
        <div id="language" style="margin: 20px;"></div>
    </div>
</div>

<div id="contextMenu"></div>