<div class="span5">
    <i class="icon-leaf"></i>　Gender：
</div>
<div class="span7">
    <div class="sl-value">
        <% 
            if (obj.gender)
                print(obj.gender);
            else
                print('<i class="sl-placeholder">Click to edit</i>')
        %>
    </div>
    <div class="sl-editor row-fluid">
        <div class="span10" data-toggle="buttons-radio">
            <button class="btn btn-small btn-info btn-value"><i class="icon-male"></i>　Male</button>
            <button class="btn btn-small btn-info btn-value"><i class="icon-female"></i>　Female</button>
        </div>
        <div class="span2">
            <button class="btn btn-small btn-warning btn-remove">
                <i class="icon-remove icon-white"></i>
            </button>
        </div>
    </div>
</div>