<div class="sl-sub-editable">
    <div class="sl-value">
        <p>
            <% 
                if (obj.selfIntroduction)
                    print(markdown.toHTML(obj.selfIntroduction));
                else
                    print('<i class="sl-placeholder">ここをクリックして自己紹介を入力します</i>')
            %>
        </p>
    </div>
    <div class="sl-editor">
        <div class="sl-input">
            <textarea rows="10" name="selfIntroduction"><%- obj.selfIntroduction %></textarea>
        </div>
    </div>
</div>
<div>
    <div class="sl-editor">
        <button class="btn btn-small btn-warning btn-remove"><i class="icon-remove icon-white"></i></button>
    </div>
</div>