<div id="name"></div>

<hr>

<div class="row-fluid" id="basic-info">
    <div class="span3" id="photo"></div>
    <div class="span6" id="selfIntroduction"></div>
    <div class="span3">
        <div id="birthDay"></div>
        <div id="gender"></div>
        <div id="nationality"></div>
        <div id="married"></div>
        <div id="firstArrive"></div>
        <div id="itExperience"></div>
        <div id="availableDate"></div>
        <div id="nearestStation"></div>
        <div id="address"></div>
        <div id="telNo"></div>
        <div id="email"></div>
        <div id="homePage"></div>
    </div>
</div>

<div id="skill"></div>

<div id="language"></div>

<div id="education"></div>

<div id="qualification"></div>

<div id="career"></div>

<div id="workExperience"></div>

<div id="contextMenu"></div>